/* UserList.css */
.user-list-container{
  margin-top: 10px;
  background-color: green;
    color: whitesmoke; /* Change the text color to creamy white */
    /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.user-list-header {
    /* background-color: green; */
    color: whitesmoke; /* Change the text color to creamy white */
    padding: 10px; 
  }
  
  /* Styling for the action buttons */
  .user-list-actions {
    text-align: right; /* Align the buttons to the right */
    margin-top: 10px; /* Add margin to separate the buttons from the header */
  }

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .add-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .update-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
  }
  